aiodns==3.0.0
aiofiles==23.2.1
aiohttp==3.8.6
aiomultiprocess==0.9.0
aioquic==0.9.21
aiosignal==1.3.1
aiosqlite==0.17.0
ajpy==0.0.5
alembic==1.8.1.dev0
aniso8601==9.0.1
anyio==3.7.0
apispec==6.3.0
apispec-webframeworks==0.5.2
appdirs==1.4.4
argcomplete==3.1.4
arrow==1.2.3
asgiref==3.7.2
Django==3.2.23
pytz==2023.3.post1
pytzdata==2020.1
pyudev==0.24.0
PyVirtualDisplay==2.2
pyxdg==0.28
PyYAML==6.0.1
qrcode==7.4.2
redis==4.3.4
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
retrying==1.3.3
rfc3986==2.0.0
rfc3987==1.3.8
rich==13.3.1
roguehostapd==1.1.2
# routersploit==3.4.0
rq==1.15.0
rtlsdr-scanner==1.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
scapy==2.5.0
scipy==1.10.1
selenium==4.16.0
service-identity==23.1.0
setproctitle==1.3.3
sgmllib3k==1.0.0
shodan==1.30.1
simple-rest-client==1.1.3
simplejson==3.19.2
simplekv==0.14.1
six==1.16.0
slowapi==0.1.4
smbmap==1.10.2
smoke-zephyr==2.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spinners==0.0.24
SQLAlchemy==1.4.47
sqlalchemy-schemadisplay==1.3
sqlparse==0.4.4
sslyze==5.2.0
stack-data==0.6.2
starlette==0.31.1
Sublist3r==1.0
sympy==1.12
syslog-rfc5424-formatter==1.2.3
tabulate==0.8.9
Tempita==0.5.2
termcolor==1.1.0
terminaltables==3.1.10
termineter==1.0.4
texttable==1.6.7
theHarvester==4.4.4
tinycss2==1.2.1
tldextract==3.1.2
tls-parser==1.2.2
toml==0.10.2
tornado==6.3.2
tqdm==4.64.1
traitlets==5.5.0
translationstring==1.4
trio==0.23.1
trio-websocket==0.11.1
tweepy==4.14.0
Twisted==22.4.0
txaio==23.1.1
typing_extensions==4.7.1
u-msgpack-python==2.3.0
ufoLib2==0.16.0
ujson==5.9.0
unicodecsv==0.14.1
Unidecode==1.3.7
uritemplate==4.1.1
urllib3==1.26.18
urwid==2.1.2
uvicorn==0.24.0
uvloop==0.19.0
validators==0.20.0
vboxapi==1.0
venusian==3.1.0
visvis==1.13.0
wadllib==1.3.6
wcwidth==0.2.5
webargs==8.0.1
webcolors==1.11.1
webencodings==0.5.1
WebOb==1.8.6
websockets==10.4
websploit==4.0.4
Werkzeug==2.2.2
wfuzz==3.1.0
whois==0.8
wifiphisher==1.4
wifite==2.7.0
wrapt==1.15.0
wsaccel==0.6.3
wsproto==1.2.0
WTForms==3.0.1
wxPython==4.2.1
xcffib==0.11.1
xdg==5
xlrd==2.0.1
XlsxWriter==3.0.2
xlwt==1.3.0
yara-python==4.3.1
yarl==1.8.2
zipp==1.0.0
zope.deprecation==5.0
zope.interface==6.1
zstandard==0.22.0
