{% extends 'main-layout.html' %}
    {% load static %} 
    {% block linkcss %}
      {{ block.super }}
       <link rel="stylesheet" href="{% static 'assets/bundles/dropzonejs/dropzone.css' %}">
       <link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">
       <link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
       <link rel="stylesheet" href="{% static 'assets/css/spinner.css' %}">

       <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
       <style>
            .buttons-container {
              height : 130px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            button {
              background: white;
              border: solid 2px black;
              padding: .375em 1.125em;
              font-size: 1rem;
            }

            .button-arounder {
              font-size: 2rem;
              background: hsl(190deg, 30%, 15%);
              color: hsl(190deg, 10%, 95%);
              
              box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
              transfrom: translateY(0);
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
              
              --dur: .15s;
              --delay: .15s;
              --radius: 16px;
              
              transition:
                border-top-left-radius var(--dur) var(--delay) ease-out,
                border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
                border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
                border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
                box-shadow calc(var(--dur) * 4) ease-out,
                transform calc(var(--dur) * 4) ease-out,
                background calc(var(--dur) * 4) steps(4, jump-end);
            }

              .button-arounder:hover,
              .button-arounder:focus {
                box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
                transform: translateY(-4px);
                background: hsl(230deg, 50%, 45%);
                border-top-left-radius: var(--radius);
                border-top-right-radius: var(--radius);
                border-bottom-left-radius: var(--radius);
                border-bottom-right-radius: var(--radius);
              }
      
       </style>
    {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-primary text-white-all">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-tachometer-alt"></i>Acceuil</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#"><i class="far fa-file"></i>Plagiat en ligne</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
      <div id="loading" class="loading" >
        <div id="spinnerMessage">Loading...</div>
        <div id="customMessage">Extraction en cours...</div>

      </div>
     </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
                <div class="card-header">
                     <h3>Plagiat En Ligne</h3>
                </div>
            <div class="card-body">
          <div id="example-basic">
            <h3> Menu D'ajout</h3>
            <section>
              <div class="control-label">Choisir la methode d'ajout</div>
              <div class="form-group" style="text-align:center;">
                <label class="custom-switch mt-2">
                  <span class="custom-switch-description"> Uploader un document &nbsp;</span>
                  <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" checked>
                  <span class="custom-switch-indicator"></span>
                  <span class="custom-switch-description">Ecrire le texte </span>
                </label>
              </div>
                <p>
                  <div id="dropimport">
                      <form action="{% url 'upload_file' %}" class="dropzone" id="mydropzone">
                        {% csrf_token %}
                          <div class="fallback">
                              <input name="file" type="file"/>
                          </div>
                      </form>
                  </div>
                  <div id="dropEcrire">
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Content</label>
                        <div class="col-sm-12 col-md-7">
                          <textarea class="summernote-simple" id="textarea"></textarea>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                    </div>
                  </div>
                </p>
            </section>
            <h3>Extraire</h3>
            <section>
                <p>
                  <div id="pdfContent"></div>
                </p>      
            </section>
            <h3>Pagiat</h3>
            <section>
                <p>
                  <div style="text-align:center; margin:0 auto;">
                    <div class="container">
                      <div id="loading" class="loading">
                        <div id="spinnerMessage">Loading...</div>
                      </div>
                            <div class="buttons-container" onClick="showSpinner()">
                              <button class="button-arounder">CHECK PLAGIAT ONLINE</button>
                            </div>
                  </div>
                  
                </p>
            </section>
            <h3>Rapport et Statistiques</h3>
            <section>
                <p>
                   <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h4>Resultat du plagiat en ligne</h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <div id="resultatStatistique"></div>
                          </div> 

                        </div>
                       
                      </div>
                    </div>
                  </div>
                 </div> 
              
                </p>
            </section>
        </div>

            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    
    <script src="{% static 'assets/bundles/dropzonejs/min/dropzone.min.js' %}"></script>
    {% comment %} <script src="{% static 'assets/js/page/multiple-upload.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets/bundles/summernote/summernote-bs4.js' %}"></script>
    <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/page/datatables.js' %}"></script>
    <script src="{% static 'assets/js/sweet.js' %}"></script>
    
    <script>
      var textarea = document.getElementById('textarea');
      var text = "";
      // Ajoutez un écouteur d'événements pour l'événement 'input'
      textarea.addEventListener('input', function() {
          // Mettez à jour la variable avec le contenu actuel du champ texte
          textContent = this.value;
      
          // Affichez la valeur mise à jour dans la console (vous pouvez la commenter ou la supprimer dans votre version finale)
          console.log(textContent);
      });


        $("#example-basic").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            onStepChanging: function (event, currentIndex, newIndex) {
              if (currentIndex === 0) { // Step 2
                  // Vérifiez ici le champ du Step 2
                  var inputFieldStep2 = $('#pdfContent').text();
                  console.log(inputFieldStep2);

                  if(inputFieldStep2){
                    {% comment %} var inputFieldStep2 = $('#pdfContent').text(inputFieldStep2); {% endcomment %}
                  }else{
                    var summernoteContent = $('#textarea').summernote('code');
                    summernoteContent = summernoteContent.replace(/<(?!br\s*\/?)[^>]+>/g, '');
            
                        // Check if summernoteContent is not empty or does not contain only <br>
                    if (summernoteContent.trim() !== '' && summernoteContent !== '<br>') {
                        $('#pdfContent').val(summernoteContent);
                        text = summernoteContent;
                    } else {
                        $('#pdfContent').val(''); // Set to an empty string if Summernote content is empty or contains only <br>
                    }
          
                    var inputFieldStep1 = $('#pdfContent').val(); // Use val() instead of text()
                    console.log(inputFieldStep2);
                   $('#pdfContent').text(inputFieldStep1);

                  }


                  if (inputFieldStep2 == '' && inputFieldStep1 == '') {
                      // Champ du Step 2 vide, n'autorisez pas le passage au Step 3
                      swal("Echec", "Veuillez faire au moins un ajout", "error");

                      return false;
                  }
              }
      
              // Si tout est valide, retournez true pour permettre la transition
              return true;
          }
        });


        $('#dropimport').hide();
        $('#dropEcrire').show();

        $('.custom-switch-input').change(function() {
          if(this.checked){
            $('#dropimport').hide();
            $('#dropEcrire').show();
          } else {
            $('#dropimport').show();
            $('#dropEcrire').hide();
          }
        });
        
        
       

      console.log($('#textarea'));
    

      var loadingDiv = document.getElementById('loading');
      var spinnerMessageDiv = document.getElementById('spinnerMessage');
    
      function hideSpinner() {
        loadingDiv.style.visibility = 'hidden';
        spinnerMessageDiv.innerText = '';
    }
 
    
      Dropzone.options.mydropzone = {
          paramName: "file", // Le nom du paramètre qui contient le fichier sur le serveur
          maxFilesize: 1000, // Taille maximale du fichier en Mo
          maxFiles: 1, // Limite à un seul fichier
          acceptedFiles: ".pdf, .py, .txt", // Types de fichiers autorisés
          init: function () {
                this.on("sending", function (file, xhr, formData) {
                  var loadingDiv = document.getElementById('loading');
                  var spinnerMessageDiv = document.getElementById('spinnerMessage');
                  loadingDiv.style.visibility = 'visible';
                  swal("Importation avec success");                });
              this.on("success", function (file, response) {
                  
                  console.log(response);
                  // Réaction en cas de succès de l'envoi
                  text = response.result.result;
                  $("#pdfContent").text(response.result.result);
                  hideSpinner();
              });
              this.on("error", function (file, errorMessage) {
                  hideSpinner();
                  // Réaction en cas d'erreur lors de l'envoi
                  console.error("Erreur lors de l'envoi du document:", errorMessage);
              });
          }
  
      };
    function showSpinner() {
        loadingDiv.style.visibility = 'visible';
        spinnerMessageDiv.innerText = 'Loading...';
        var csrfToken = document.cookie.match(/csrftoken=([^ ;]+)/)[1];

        // Utilisez la valeur de #pdfContent comme paramètre dans la requête AJAX
        console.log(text);
        $.ajax({
            method: "POST",
            url: "{% url 'check_plagiat' %}",
            headers: {
              "X-CSRFToken": csrfToken
            },
           data: text,
          success: function(data) {
            console.log(data);/*
            $("#resultatStatistique").html(data.result)*/
            updateTable(data);  // Appel de la fonction pour mettre à jour le tableau avec les données


          }, error: function(jqXHR, textStatus, errorThrown) {
            console.error('Erreur lors de la requête AJAX:', textStatus, errorThrown);
            // Gérez l'erreur côté client (par exemple, affichez un message d'erreur)
            spinnerMessageDiv.innerText = 'Erreur lors de la requête AJAX';
            hideSpinner();
          
            swal("Echec", "Veuillez reessayez, ou verifiez votre connexion internet", "error");

        },
        complete: function() {
            // Cacher le spinner une fois que la requête est terminée (que ce soit un succès ou un échec)
            hideSpinner();
            swal("Terminer avec success", "Vous pouvez verifier le resultat", "success");

        }
          })
          
    }

    function updateTable(data) {
      console.log('Données reçues :', data);
  
      if (data && data.result && data.result.sources && Array.isArray(data.result.sources)) {
          var tableHtml = '<table class="table table-striped table-hover" id="tableExport_prof" style="width:100%;">';
          tableHtml += '<thead><tr><th>URL</th><th>Titre de la Page</th><th>Pourcentage Plagiarism</th></tr></thead>';
          tableHtml += '<tbody>';
          
            for (var i = 0; i < data.result.sources.length; i++) {
              var source = data.result.sources[i];
              tableHtml += '<tr>';
                tableHtml += '<td><a target="_blank" href="' + (source.url || '') + '">' + (source.url || '') + '</a></td>';
              tableHtml += '<td>' + (source.title || '') + '</td>';
              if (data.result.percentPlagiarism >= 0 && data.result.percentPlagiarism < 26) {
                  tableHtml += '<td><div class="badge badge-warning">' + (data.result.percentPlagiarism || '') + '% </div></td>';
              } else if (data.result.percentPlagiarism >= 26 && data.result.percentPlagiarism < 51) {
                  tableHtml += '<td><div class="badge badge-success">' + (data.result.percentPlagiarism || '') + '% </div></td>';
              } else if (data.result.percentPlagiarism >= 51 && data.result.percentPlagiarism < 76) {
                  tableHtml += '<td><div class="badge badge-info">' + (data.result.percentPlagiarism || '') + '% </div></td>';
              } else if (data.result.percentPlagiarism >= 76) {
                  tableHtml += '<td><div class="badge badge-danger">' + (data.result.percentPlagiarism || '') + '% </div></td>';
              }
            
              
              tableHtml += '</tr>';
          }
          
          
          tableHtml += '</tbody></table>';
          
          // Remplacez le contenu du tableau avec le nouveau HTML
          $("#resultatStatistique").html(tableHtml);
          $('#tableExport_prof').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
      } else {
          console.error('Les données JSON sont invalides ou mal formatées.');
      }
  }
  
  
 
    </script>

   
    
{% endblock %} 


