{% extends 'main-layout.html' %}
    {% load static %} 
{% block content %}
    <!-- breadcrumb -->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-primary text-white-all">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-tachometer-alt"></i>Acceuil</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#"><i class="far fa-file"></i>Plagiat de 02 Documents</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <h1></h1>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
                <div class="card-header">
                     <h4>EKobo et ferdinand</h4>
                </div>
            <div class="card-body">
                <p>
                    -Plagiat entre 2 documents (PHP,java,Doc,PDF,js et autre)
                    Ici vous allez comparer 02 document  et retouner un rapport en PDF et un pourcentage de similitude
                </p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}